parameters:
    level: 6
    paths:
        - public/
        - src/
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Parameter \#\d+ \$examples of class OpenApi\\Attributes\\JsonContent constructor expects array\<string\, OpenApi\\Attributes\\Examples\>\|null\, array\<int\, OpenApi\\Attributes\\Examples\> given\.#'
